body {
  font-family: "Comic Sans MS", sans-serif;
  text-align: center;
  background: #fff8fc;
}

button {
  font-size: 16px;
  margin: 4px;
  padding: 6px 10px;
  border-radius: 10px;
  border: 2px solid #ffb6c1;
  background: #ffe4ec;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background: #ffd1dc;
}

.selectedTool {
  background: #ff9ebb;
  border-color: #ff5c8d;
  color: white;
}

canvas {
  background-color: white;
  border: 3px solid #ffb6c1;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(255, 192, 203, 0.5);
}
