#drawingCanvas {
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 1em auto;
}

.selectedTool {
  background-color: #ff6fbe81;
  color: white;
  border: 2px solid #000000;
}
